@import "App";

.add__page, .edit__page {
  @extend .box, .card;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  form {
    margin: 0;
    font-size: 1.2rem;
    input {
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}