@import "App";

#header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .header--title {
    font-size: 2rem;
    font-weight: bold;
  }
}